<form class="sell-form">
  <div class="row justify-content-center sell-container">
      <div class="row sell-info-container">
        <p class="required">* required</p>
        <label class="sell-label" for="title">Title*</label>
        <input class="sell-input" id="title" type="text"></input><br>

        <label class="sell-label" for="content">Content*</label>
        <textarea class="sell-input" name="content" id="content" cols="30" rows="6"></textarea><br>
      </div>
      <button class="btn btn-primary submit-btn" id="submitButton" type="submit">Submit</button>
  </div>
</form>
   
  <script src="js/create-post.js"></script>

