<div class ="justify-content-center">
    <div class="container content-con-con">
        <div class="content-container">
            <p class="detailed-title"></p>
            <p class="detailed-author"></p>
            <p class="detailed-time"></p>
            <p class="detailed-content"></p>
            
            <br><br><br><br>
        </div>
    </div>
    <div class="container reply-container">
        <div class="reply-list-container">
            <div class="reply-list" id="reply-list">

            </div>
        </div>
        <form class="row reply-form">
            <label id="reply-label" for="reply-input">Write a comment:</label>
            <textarea name="reply-input" id="reply-input" cols="10" rows="2"></textarea>
            <button class= "col primary-btn reply-btn">Submit</button></div>
        </form>
        
    </div>
</div>

<script src="js/detailed.js"></script>